// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$px_small: 7px;
$color_gray: #efefef; 

.user_show_container {
  width: 50%;

  .user_show_left {
    float: left;
    width: 100px;
    padding: $px_small;  
  }
    
  .user_show_right {
    float: left;
    min-width: 150px;
    padding: $px_small; 
  }
  
  .user_show_tweets {
    clear: both;
    padding: $px_small;
    
    h1 {
      font-size: 16px;
      border-bottom: 1px solid $color_gray;
    }
    
    div#tweets_container {            
      // style for one tweet
      div {
        padding: $px_small;
        margin: $px_small;
        background: $color_gray;
        border-radius: $px_small;
        margin-top: 0; // fix shake animation
      }      
    } 
  }
  
  img.img_gravatar {
    border: 1px solid $color_gray;
    padding: $px_small;  
  }
}